
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 30px;
}

.container {
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 500px;
}

h2 {
  text-align: center;
  color: #003399;
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
.gender-group{
    display: flex;
    gap: 30px;
    margin-top: 10px;
    flex-direction: row;
}
.gender-radio{
    display: flex;
    gap: 10px;
    align-items: center;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.checkbox-group{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: auto;
    flex-direction: column;
    
}
.country{
    margin-top: 30px;
}
.submitbutton{
    margin-top: 50px;
}
button {
  background-color: #003399;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #002070;
}

.error {
  color: red;
  font-size: 12px;
  height: 12px;
}

input.invalid, select.invalid {
  border-color: red;
}
.input-checkbox{
    width: auto;
}